[Desktop Entry]
Name=CDBK Installer
Comment=Open CDBK bundles 
Exec={{BIN}} open %f
Terminal=false
Type=Application
Icon=application-x-cdbk
Categories=Utility;
StartupNotify=false
NoDisplay=true
MimeType=application/x-cdbk;
